/* projects videos */

.video__gallery {
    background-color: #363642;
    padding: 50px 0 0;
  }
  @media (min-width: 992px) {
    .video__gallery {
      padding: 70px 0 0;
    }
  }
  @media (min-width: 1200px) {
    .video__gallery {
      padding: 100px 0 0;
    }
  }
  .video__gallery .sec__head {
    margin-bottom: 40px;
  }
  .video__gallery .sec__head .sec__head--title {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    .video__gallery .sec__head .sec__head--title {
      margin-bottom: 30px;
    }
  }
  .video__gallery .sec__head .sec__head--title h2 {
    font-size: 13.5pt;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
  }
  @media (min-width: 768px) {
    .video__gallery .sec__head .sec__head--title h2 {
      font-size: 15pt;
      line-height: 1.4;
    }
  }
  .video__gallery .sec__head .sec__head--title .sec__head--title-arc {
    flex: 1;
    margin-left: 36px;
    height: 1px;
    display: block;
    background-color: #D3D7E3;
  }
  .video__gallery .sec__head .sec__head--headline {
    font-size: 12pt;
    line-height: 1.4;
    max-width: 988px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-weight: 300;
  }
  @media (min-width: 768px) {
    .video__gallery .sec__head .sec__head--headline {
      font-size: 13pt;
      line-height: 1.4;
    }
  }
  @media (min-width: 992px) {
    .video__gallery .sec__head .sec__head--headline {
      font-size: 14pt;
      line-height: 1.4;
    }
  }
  @media (min-width: 1200px) {
    .video__gallery .sec__head .sec__head--headline {
      font-size: 15pt;
      line-height: 1.4;
    }
  }
  @media (min-width: 768px) {
    .video__gallery .sec__head {
      margin-bottom: 79px;
    }
  }
  .video__gallery--slider .slide__thumbnail {
    border-radius: 27px;
    overflow: hidden;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    transition: 0.3s all ease;
  }
  @media (min-width: 768px) {
    .video__gallery--slider .slide__thumbnail {
      transform: scale(1);
      padding: 0 0;
      max-width: 100%;
    }
  }
  .video__gallery--slider .slide__thumbnail p {
    margin-bottom: 0;
  }
  .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
    width: 100%;
    height: 180px;
    border-radius: 27px;
    object-fit: cover;
  }
  @media only screen and (min-width: 390px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 210px;
    }
  }
  @media only screen and (min-width: 430px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 240px;
    }
  }
  @media only screen and (min-width: 480px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 270px;
    }
  }
  @media (min-width: 576px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 287px;
    }
  }
  @media (min-width: 992px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 310px;
    }
  }
  @media (min-width: 1200px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 350px;
    }
  }
  @media (min-width: 1400px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 400px;
    }
  }
  @media only screen and (min-width: 1600px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 430px;
    }
  }
  @media only screen and (min-width: 1720px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 470px;
    }
  }
  @media only screen and (min-width: 1720px) {
    .video__gallery--slider .slide__thumbnail img, .video__gallery--slider .slide__thumbnail iframe {
      height: 500px;
    }
  }
  .video__gallery--slider .slide:not(.swiper-slide-active) .slide__thumbnail {
    pointer-events: none;
  }
  @media (min-width: 768px) {
    .video__gallery--slider .slide:not(.swiper-slide-active) .slide__thumbnail {
      transform: scale(0.8);
      opacity: 0.6;
    }
  }
  .video__gallery--slider .swiper__nav {
    width: 100%;    
    max-width: 570px;
    padding: 0 15px;
  }
  @media (min-width: 768px) {
    .video__gallery--slider .swiper__nav {
      width: 59vw;
      max-width: 100%;
      padding: 0 0;
    }
  }
  
  /* projects videos */
  